[tool.poetry]
name = "troncos"
version = "2.1.1"
description = "Collection of Python logging and tracing tools"
authors = [
    "Guðmundur Björn Birkisson <gudmundur.birkisson@oda.com>",
    "Roald Matthias Storm <roald.storm@oda.com>",
    "Karl Fredrik Haugland <karlfredrik.haugland@oda.com>",
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kolonialno/troncos"
repository = "https://github.com/kolonialno/tronos"
documentation = "https://github.com/kolonialno/tronos"
keywords = ["logs", "traces", "opentelemetry"]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
opentelemetry-propagator-b3 = "^1.12.0"
opentelemetry-propagator-jaeger = "^1.12.0"
opentelemetry-exporter-otlp-proto-http = "^1.13.0"
backoff = ">=1.0,<2.0"
# Above: backoff is pinned to <2.0 because https://github.com/open-telemetry/opentelemetry-python/issues/2829
opentelemetry-exporter-otlp-proto-grpc = {version = "^1.13.0", optional = true}
structlog = {version = "^22.1.0", optional = true}

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
black = "^22.8.0"
flake8 = "^5.0.4"
mypy = "^0.971"
pytest = "^7.1.3"
pytest_codeblocks = "^0.16.1"
fastapi = "^0.85.0"
opentelemetry-instrumentation-requests = "^0.34b0"
requests = "^2.28.1"
pytest-cov = "^4.0.0"
types-requests = "^2.28.11.2"
pytest-asyncio = "^0.19.0"

[tool.poetry.extras]
structlog = ["structlog"]

[tool.black]
target-version = ['py310']
line-length = 88
include = '\.pyi?$'
safe = true

[tool.isort]
profile = "black"
skip_gitignore = true
combine_as_imports = true

[tool.mypy]
python_version = "3.10"
strict = true
files = ["./troncos", "./tests",]
namespace_packages = true

[[tool.mypy.overrides]]
module = [
    "opentelemetry.sdk.*",
    "opentelemetry.context.*",
]
implicit_reexport = true

[tool.pytest.ini_options]
minversion = 6.0
python_files = "test_*.py"
python_functions = "test_*"
cache_dir = ".pytest_cache"
# Silence warning by opting in to use pytest 6's new default value
junit_family = "xunit2"
# Include captured log messages in system-out in Jenkins report file
junit_logging = "system-out"
console_output_style = "classic"
empty_parameter_set_mark = "xfail"
log_cli_level = "INFO"
log_level = "INFO"
filterwarnings = ["ignore::DeprecationWarning"]

[build-system]
requires = ["poetry-core>=1.1.0a6"]
build-backend = "poetry.core.masonry.api"
