[tool.poetry]
name = "troncos"
version = "3.0.4"
description = "Collection of Python logging, tracing and profiling tools"
authors = [
    "Guðmundur Björn Birkisson <gudmundur.birkisson@oda.com>",
    "Karl Fredrik Haugland <karlfredrik.haugland@oda.com>",
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kolonialno/troncos"
repository = "https://github.com/kolonialno/troncos"
documentation = "https://github.com/kolonialno/troncos"
keywords = ["logs", "traces", "opentelemetry"]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
ddtrace = "1.7.3"
opentelemetry-sdk = "1.15.0"
opentelemetry-exporter-otlp-proto-http = {version = "1.15.0", optional = true}
opentelemetry-exporter-otlp-proto-grpc = {version = "1.15.0", optional = true}
structlog = {version = "^22.3.0", optional = true}

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
black = "^22.8.0"
flake8 = "^5.0.4"
mypy = "^0.971"
pytest = "^7.1.3"
pytest_codeblocks = "^0.16.1"
fastapi = "^0.85.0"
requests = "^2.28.1"
pytest-cov = "^4.0.0"
types-requests = "^2.28.11.2"
pytest-asyncio = "^0.19.0"
django-environ = "^0.9.0"

[tool.poetry.extras]
http = ["opentelemetry-exporter-otlp-proto-http"]
grpc = ["opentelemetry-exporter-otlp-proto-grpc"]
structlog = ["structlog"]

[tool.black]
target-version = ['py310']
line-length = 88
include = '\.pyi?$'
safe = true

[tool.isort]
profile = "black"
skip_gitignore = true
combine_as_imports = true

[tool.mypy]
python_version = "3.10"
strict = true
files = ["./troncos", "./tests",]
namespace_packages = true
show_error_codes = true

[[tool.mypy.overrides]]
module = [
    "opentelemetry.sdk.*",
    "opentelemetry.context.*",
]
implicit_reexport = true

[tool.pytest.ini_options]
minversion = 6.0
python_files = "test_*.py"
python_functions = "test_*"
cache_dir = ".pytest_cache"
# Silence warning by opting in to use pytest 6's new default value
junit_family = "xunit2"
# Include captured log messages in system-out in Jenkins report file
junit_logging = "system-out"
console_output_style = "classic"
empty_parameter_set_mark = "xfail"
log_cli_level = "INFO"
log_level = "INFO"
filterwarnings = ["ignore::DeprecationWarning"]

[build-system]
requires = ["poetry-core>=1.1.0a6"]
build-backend = "poetry.core.masonry.api"
