---
name: '[lint] pre-commit'

on:
  push:

jobs:
  pre_commit:
    name: pre-commit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        id:
          - markdownlint
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5

      - uses: pre-commit/action@v3.0.1
        name: ${{ matrix.id }}
        with:
          extra_args: ${{ matrix.id }}
